<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>WebDev project</title>
    {{!-- Stylesheet for navbar --}}
    <link rel="stylesheet" href="./assets/css/basic_style.css">
</head>
<body>

    <h1>{{title}}</h1>

    <nav>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/activities">Activities</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>

    {{{body}}}

</body>
</html>
