
<div class="PostContent mt-4">
  <div class="card card-lg">

    <div class="card-header"> 
      <h1 class="text-start">test title{{post.name}} <small class="fs-5 fw-light"> Posted by: admin test</small> </h1>
    </div>

    <div class="card-body"> <p class="text-center">test body {{post.body}}</p></div>
  
    <div class="userComment card-footer">
      <label for="userComment"> Comment:</label>
      <textarea class="form-control" id="userComment"></textarea>
      <button type="submit" class="btn btn-primary">submit</button>
    </div>

  </div>
</div>


<div class="PostComments card mt-4">

  <div class="comment d-flex flex-column m-2">

    <div class="imageAndName d-inline-flex ">
      <div class="prof-image align-self-start p-2 bg-secondary">profile img</div>
      <small class="user-name p-2" >random username</small>  
       {{!--ms-auto pushes the rest items into the left  --}}
      <button type="button" class="btn btn-primary ms-auto" data-bs-toggle="collapse" data-bs-target="#comment-body"  >Hide/show</button> 
    </div>
    {{!-- Watch out if a comment has character without empty space it will mess us the website width, otherwise it is fine--}}
    <div class="comment-collapsible collapse show" id="comment-body">
      <div class="bodyAndButtons d-flex flex-column ps-4">
        <div class="comment-body flex-grow-1 p-2 bg-primary">
          random comment ,thas asfh asdfjh sdgkhsd ksjdhhf kksdhf kisudhf iusdfuh sdeiufhy kiusdhfd iushy sweiuh sidfiuhiusd fiuhsiudf iuhiuhsdf kljh sdf iuhsd fsdifuhiusd fioushdgisdguh
        </div>
        <div class="comment-buttons d-inline-flex align-items-stretch">
          <button type="button" class="" data-bs-toggle="collapse" data-bs-target="#reply">Reply</button> 
        </div>
      </div>
      {{!-- maybe another way to do it? --}}
      <div class="reply container mt-2 collapse" id="reply">
        <label for="userReply"> Reply:</label>
        <textarea class="form-control" id="userReply"></textarea>
        <button type="submit" class="btn btn-primary">submit</button>
      </div>
    </div>
   
  </div>

</div>



