{{post.title}}

<p>{{post.body}}</p>


<div class="container mt-4 mb-4">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-8">
      <label>Comment</label>
      <div class="form-group">
         <textarea id="editor"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>


