<h1>Main Profile info</h1>

{{!-- <link rel="stylesheet" href="./assets/css/basic_preview.css"> --}}

<div class="PageContent">
    <div class="container-fluid">
        <div class="card">
            <h2>test</h2>
            Here will be the profile photo, name, bio and join date
        </div>
    </div>

    <div class="ActivitiesSection">
        Here will be the number of activities, total points in activities, Longest activity, latest activity, most active activity
    </div>

    <div class="ProfileSettings">
        Here will be profile settings 
    </div>
</div>