<h1>Main Profile info</h1>

{{!-- <link rel="stylesheet" href="./assets/css/basic_preview.css"> --}}

<div class="PageContent">
    <div class="container-fluid">
        <div class="card card-lg">
            <div class="row">
                <img src="/assets/img/logo.png" alt="" class="rounded col-sm-3">
                <div class="row col-sm-8">
                    <h2 class="row">John Doe noCapios</h2>
                    <p class="row font-weight-light"> BIOGRAPHY ASDLJGHAKUGHASKJHGKJSHDGJKHSKJGHSKJG</p>
                </div>
            </div>
            <p class="small">Joined on 1/1/1969 </p>
        </div>
    </div>

    {{!-- horizontal divider --}}
    <hr> 

    <div class="ActivitiesSection">
        Here will be the number of activities, total points in activities, Longest activity, latest activity, most active activity
    </div>

    <div class="ProfileSettings">
        Here will be profile settings 
    </div>
</div>