<h1>Main Profile info</h1>

<link rel="stylesheet" href="./assets/css/basic_preview.css">

<div class="PageContent">
    This is temporary profile page <br>
    Here will go all the profile info we want to display
</div>